.app-layout {
    display: flex;

    min-height: 100vh;

    background:
        var(--bg-primary);
}


/* .app-main {
    flex: 1;

    min-width: 0;

    margin-left:
        var(--sidebar-width);
}


.app-content {
    min-height: calc(
        100vh - var(--header-height)
    );

    padding:
        32px 40px;
} */



.app-main {

    flex: 1;
    min-width: 0;

    margin-left:
        var(--sidebar-width);
}

.app-content {
    min-width: 0;

    padding:
        var(--space-xl);
}

@media (max-width: 768px) {
    .app-main {
        margin-left: 0;
    }

    .app-content {
        padding:
            20px 16px;
    }
}