
.HeaderBurgerDropdownButtonWrapper{
  display: flex;
  flex-direction: column;
}

.HeaderBurgerDropdownButton{
  /* display: flex;
  flex-direction: row; */
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  cursor: pointer;
}
.HeaderBurgerDropdownButton:hover{
  background-color: rgb(247, 247, 247);
}


.HeaderBurgerDropdownButtonText{
  float: left;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.096);
  /* padding-top: 0px; */
  margin-top: 14px;
}
.HeaderBurgerDropdownButtonIcon{
  float: right;
  margin-top: 18px;
  margin-right: 25px;
  width: 12px;
  transform: rotate(90deg);
  opacity: 0.7;
  transition: transform 0.1s ease;
}


.HeaderBurgerDropdownSignInButton{
  /* background-color: rgba(179, 179, 179, 0); */
  width: calc(100% - 60px);
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid rgb(51, 51, 51);
  transition: background-color 0.5s ease;
}
.HeaderBurgerDropdownSignInButton:hover{
  background-color: rgba(179, 179, 179, 0.3);
}
.HeaderBurgerDropdownGetStartedButton{
  width: 100%;
  text-align: center;
  width: calc(100% - 60px);
  margin: auto;
  /* margin-right: 25px; */
  /* margin-left: 15px; */
  margin-bottom: 100px;
  background-color: rgba(8, 160, 206, 0.781);
  border: 2px solid rgba(8, 160, 206, 0);
  color: white;
  transition: background-color 0.5s ease;
}
.HeaderBurgerDropdownGetStartedButton:hover{
  background-color: rgba(8, 193, 206, 0.637);
}
.HeaderBurgerDropdownButtonSubmenuWrapper{
  display: none;
  flex-direction: column;
  width: 100%; 
  height: fit-content !important; 
  /* background-color: rgba(159, 220, 240, 0.781); */
}
.HeaderBurgerDropdownSubmenuButton{
  display: flex;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(185, 185, 185) !important;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  /* background-color: rgba(240, 164, 159, 0.781); */
  background-color: rgba(240, 240, 240, 0.795) !important;
  color: rgb(75, 75, 75);
}
.HeaderBurgerDropdownSubmenuButton:hover{
  background-color: rgba(8, 160, 206, 0.144) !important;
  transform: translateY(-1px)

}

.HeaderBurgerDropdownSubmenuButtonIcon{
  width: 22px;
  margin-left: 10px;
  margin-top: 1px;
}
.HeaderBurgerDropdownSubmenuButtonText{
  padding-left: 20px;
  font-size: 15px;
  color: rgb(75,75,75);
}


.HeaderBurgerDropdownMyDocumentsButton{
  width: 100%;
  text-align: center;
  width: calc(100% - 60px);
  margin: auto;
  /* margin-right: 25px; */
  margin-bottom: 100px;
  background-color: rgba(8, 160, 206, 0.781);
  border: 2px solid rgba(8, 160, 206, 0);
  color: white;
  transition: background-color 0.5s ease;
}
.HeaderBurgerDropdownMyDocumentsButton:hover{
  background-color: rgba(8, 193, 206, 0.637);
}