.InfiniteCarouselTrack{

}

ul {
  height: 600px;
  padding: 20px;
  display: flex;
  gap: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  anchor-name: --my-carousel;
  scroll-marker-group: after;

  text-align: center;
  columns: 1;

  padding: 10px;

  /* overflow-x: scroll; */
  scroll-snap-type: x mandatory;

  columns: 1;
  /* column-width: 600px; */
  text-align: center; 

  /* transition: all 1s ease; */
  /* background-color: blue; */
}

li {
  list-style-type: none;
  display: block;
  scroll-snap-align: center;
  height: 100%;
  width: 350px;
  flex-shrink: 0;
  background-color: #ced3d3;
  border: 1px solid #dddddd;
  padding: 20px;
  margin: 0 10px;
  text-align: left;
  /* transition: all 1s ease; */
  animation: scrollInfinite 100s linear infinite;
}

li:nth-child(even) {
  background-color: rgb(173, 247, 247);
}

ul::column {
  scroll-snap-align: center;
  /* transition: all 1s ease; */
}

@media (max-width: 1400px) {
  ul{
    height: 480px;
  }
  li{
    width: 280px;
  }
  .InfiniteCarouselImage{
    height: 100%;
  }
}

@media (max-width: 1020px) {
  ul{
    height: 440px;
  }
  li{
    width: 250px;
  }
  .InfiniteCarouselImage{
    height: 100%;
  }
}

@media (max-width: 760px) {
  ul{
    height: 400px;
  }
  li{
    width: 230px;
  }
  .InfiniteCarouselImage{
    height: 100%;
  }
}

@media (max-width: 480px){
  ul{
    height: 360px;
  }
  li{
    width: 210px;
  }
  .InfiniteCarouselImage{
    height: 100%;
  }
}