.LoginPageWrapper{
    position: relative;
    width: 480px;
    padding: 10px;
    top: 15vh;
    margin: auto;
    height: fit-content;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.158);
    font-family: "Inter", sans-serif;
}

.LoginPageForm{
    display: flex;
    flex-direction: column;
    width: 500px;
    /* padding: 20px; */
    /* padding-left: 45px; */
}

.LoginPageRegisterSuccessText{
    position: relative;
    width: 300px;
    left: -10px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: rgb(8, 193, 206);
    background-color: #f5f5f5fb;
}

.LoginPageHeadingText{
    position: relative;
    width: fit-content;
    left: -10px;
    margin: auto;
    margin-top: 80px;
    color: #272727;
    font-size: 24px;
    /* background-color: #5db7d3; */
}
.LoginPageSignUpLinkText{
    position: relative;
    width: fit-content;
    left: -10px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    /* background-color: #5db7d3; */
}
.LoginPageOrContinueText{
    display: flex;
    align-items: center;
    position: relative;
    /* width: fit-content; */
    left: -10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #33333377;
    /* background-color: #5db7d3; */
    
}
.LoginPageOrContinueText::before,
.LoginPageOrContinueText::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #3333332d; /* Thickness and color of the line */
}
.LoginPageOrContinueText::before{
    margin-right: 20px;
    margin-left: 48px;
}
.LoginPageOrContinueText::after{
    margin-left: 20px;
    margin-right: 48px;
}

.LoginPageGoogleLoginButtonWrapper{
    position: relative;
    width: 404px;
    height: 40px;
    left: -10px;
    margin: auto;
    margin-bottom: 10px;
    /* border-radius: 100px; */
}
.nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb{
   text-align: center;
}

.LoginPageInput{
    position: relative;
    left: -10px;
    width: 370px;
    height: 40px;
    border: 1px solid #e7e7e7;
    margin: auto;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    /* padding: 5px; */
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    color: #272727;
    
    transition: border-color 0.2s ease;
}
.LoginPageInput[type="password"] {
  /* font-family: Verdana, sans-serif; */
  letter-spacing: 3px;
  /* font-weight: bold; */
}
/* .LoginPageInput:hover{
    border: 1px solid rgba(8, 160, 206, 0.781);
} */
.LoginPageInput::placeholder{
    letter-spacing: 0px;
    color: #33333377;
}

.LoginPageInput:focus{
    border: 1px solid rgba(8, 160, 206, 0.781);
}

.LoginPageForgotPasswordLink{
    position: relative;
    left: 124px;
    margin: auto;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.LoginPageButton{
    position: relative;
    left: -10px;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
    background-color: rgba(8, 160, 206, 0.781);
    border: 10px solid rgba(8, 160, 206, 0) !important;
    padding-top: 5px;
    border: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s ease;
}
.LoginPageButton:hover{
    background-color: rgba(8, 193, 206, 0.637);
}