body {
  /* width: 100vw;
  height: 100vh; */
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  color: rgb(0, 0, 0);
  /* background-color: rgb(19, 19, 19); */
  background: linear-gradient(45deg,rgba(19, 19, 19) 20%, rgb(32, 32, 32) 40%, rgba(19, 19, 19) 70%);
  overflow: hidden;
  cursor: default;
  /* overflow-y: scroll; */
}
h1{
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: monospace;
  font-weight: lighter;
  /* letter-spacing: 1px; */
  /* color: rgba(180, 9, 23, 0.432); */
  font-size: 30px;
}
h2{
  /* font-size: 15px; */
  /* font-family: monospace; */
  /* font-size: 12px; */
  font-weight: lighter;
}
hr {
  /* width: 70px; */
}
h5{
  margin: 0px;
  font-size: 13px;
}
/* width */
::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(65, 193, 197);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(31,31,31);
}
::-webkit-scrollbar-track{
width: 12px;
}
::-webkit-scrollbar-button{
 background-color: rgb(65, 193, 197);
 width: 10px;
 height: 10px;
}


#root{
  width: 100vw;
  height: 100vh;
  /* box-shadow: 0px 0px 210px 200px rgb(0, 0, 0) inset; */
  overflow: hidden;
}


.ParallaxWrapper{
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}
.ParallaxImage{
  position: absolute;
  width: 100%;
  height: 100%;
}
#parallaxImageOne{

}
#parallaxImageTwo{

}
#parallaxImageThree{

}
#parallaxImageFour{
   
}
#parallaxImageFive{
  
}
#parallaxImageSix{
  
}
#parallaxImageSeven{
  
}
.ParallaxTitle{
  position: absolute;
  top: 20px;
  /* margin-top: -300px; */
  font-size: 200px;
  color: rgba(197, 72, 72, 0.363);
}

.ParallaxImageBuffer{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  margin-top: 100vh;
  background-color: rgb(33, 19, 20);
}







/* ---------------------------------------------------------------------------------------------- Header VVVV */
.Header{
  width: 100vw;
  height: 60px;
  padding-left: calc(16.5vw + 83px);
  /* background-color: rgb(31, 31, 31); */
  border-bottom: 1px solid rgb(70, 70, 70);
}
.HeaderLogoWrapper{
  position: absolute;
  /* display: flex; */
  left: 16.5vw;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor:pointer;
  /* background-color: rgb(110, 60, 60); */
  background-color: rgb(213, 111, 62);
  transition: border-radius .4s ease;
}
.HeaderLogoWrapper:hover{
  border-radius: 0px;
}
.HeaderLogoImage{
  /* margin-top: 5px; */
  width: 40px;
  height: 40px;
}
.HeaderButtonsWrapper{
  /* background-color: antiquewhite; */
  width: calc(100vw - 100px);
}
.HeaderButton{
  z-index: 10;
  border: none;
  margin-right: 40px;
  margin-top: 10px;
  padding: 12px;
  /* border-bottom: 4px solid rgb(31, 31, 31); */
  border-radius: 5px;
  letter-spacing: .7px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-shadow: 0px 1px 2px #000000;
}
.HeaderButton:hover{
  background-color: rgba(31, 130, 187, 0.3);
  color: rgb(128, 193, 247);
}
.HeaderButtonDropdown{
  z-index: 2;
  display: none;
  position: absolute;
  width: 250px;
  border-radius: 5px;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /* background-color: rgb(31, 31, 31); */
}
.HeaderButtonDropdownButtonWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 5px;
  /* background-color: aqua; */
  background-color: rgb(31, 31, 31);
}
.HeaderButtonDropdownButton{
  display: flex;
  border: none;
  width: auto;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  letter-spacing: .7px;
  text-align: left;
  background-color: transparent;
  color: white;
}
.HeaderButtonDropdownButton:hover{
  background-color: rgba(163, 163, 163, 0.164);
}
.HeaderButtonDropdownButtonColorPad{
  width: 3px;
  height: 30px;
  margin-top: 15px;
  margin-left: 4px;
  background-color: rgb(213, 111, 62);
}
.HeaderButtonDropdownButtonTopText{
  margin-top: 14px;
  margin-left: 8px;
  font-weight: normal;
}
.HeaderButtonDropdownButtonBottomText{
  position: absolute;
  margin: 0px;
  margin-top: 35px;
  margin-left: 16px;
  font-size: 11px;
  color: rgb(121, 121, 121);
}
#templatesDropdownWrapper{
  left: calc(16.5vw + 83px);
  
}
#semanticsDropdownWrapper{
  left: calc(16.5vw + 226px);
}
#blogDropdownWrapper{
  left: calc(16.5vw + 354px);
}
#helpDropdownWrapper{
  left: calc(16.5vw + 462px);
}

.HeaderHamburgerButton{
  position: absolute;
  right: 10px;
  display: none;
  z-index: 10;
  border: none;
  margin-right: 0px;
  margin-top: 10px;
  padding: 12px;
  /* border-bottom: 4px solid rgb(31, 31, 31); */
  border-radius: 5px;
  letter-spacing: .7px;
  /* background-color: transparent; */
  color: white;
  cursor: pointer;
  text-shadow: 0px 1px 2px #000000;
  background-color: rgb(213, 111, 62);

}
.HeaderHamburgerDropdownWrapper{
  display: none;
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  top: 39px;
  right: 0px;
  width: 230px;
  height: 260px;
  /* background-color: rgb(110, 60, 60); */
}
/* ---------------------------------------------------------------------------------------------- Header ^^^^ */

.MainContentWrapper{
  width: 100vw;
  height: calc(100vh - 60px);
  /* background-color: aliceblue; */
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
.MainContentWrapper::-webkit-scrollbar{
  width: 0px;
}
.HomepageSuperWrapper{
  width: 67vw;
  height: calc(100vh - 60px);
  margin: auto;
  /* background-color: rgb(43, 43, 43); */
  /* overflow-y: scroll; */
  /* pointer-events: none */
  scroll-behavior: smooth;
}
.HomepageTitleWrapper{
  position: relative;
  /* position: absolute; */
  width: 600px;
  height: calc-size(fit-content, size + 90px) ;
  /* background-color: aqua; */
  /* left: 320px; */
  margin-top: 85px;
}
.HomepageTitle{
  color: white;
  text-shadow: 0px 1px 2px #000000;
}
.HomepageTitleDescription{
  margin-top: 25px;
  color: white;
  font-size: 14px;
  text-shadow: 0px 1px 2px #000000;
}
.HomepageTitleDescriptionEmailButton{
  position: absolute;
  width: fit-content;
  left: 0px;
  margin-top: 22px;
  margin-left: 2px;
  padding: 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  /* background-color: transparent; */
  /* border: 1px solid white; */
  cursor: pointer;
  box-shadow: -1px 1px 4px 1px rgb(0, 0, 0);
  text-shadow: 0px 1px 1px #d8d8d8;
  transition: font-size 0.3s ease, left 0.3s ease, padding 0.3s ease;

}
.HomepageTitleDescriptionEmailButton:hover{
  background-color: rgb(65, 193, 197);
  /* color: white; */
  font-size: 15px;
  text-shadow: 0px 1px 1px rgb(51, 186, 190);
  left: -5px;
  /* border-radius: 10px; */
  padding: 17px;
   /* color: rgb(47, 51, 45); */
   box-shadow: -1px 1px 1px 1px rgb(5, 5, 5)
  /* color: white; */
}
.HomepageRightSectionWrapper{
  float: right;
  /* margin-right: 50px; */
  margin-top: -200px;
  width: fit-content;
  height: 120px;
}
.TimeAndLocationText{
  width: 100%;
  text-align: end;
  color: white;
  text-shadow: 0px 1px 2px #000000;
}
#timeAndLocationTextOne{
  font-size: 12px;
}
#timeAndLocationTextTwo{
  font-weight: bold;
  font-size: 15px;
  color: rgb(65, 193, 197);
  
}
#timeAndLocationTextThree{
  font-size: 12px;
}
.HomepageProjectsSectionSuperWrapper{
  float: left;
  margin-top: 300px;
  width: 100%;
  height: 1400px;
  padding-top: 20px;
}
.HomepageProjectsSectionNavButton{
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid transparent;
  margin-right: 30px;
  padding: 0px;
  text-shadow: 0px 1px 2px #000000;
  /* background-color: #505050; */
  cursor: pointer;
  transition: border-bottom 0.3s ease;

}
.HomepageProjectsSectionNavButton:hover{
  /* background-color: rgb(141, 153, 153); */
  border-bottom: 1px solid rgb(65, 193, 197);
}
.HomepageProjectsSectionCardWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  /* align-content: space-between; */
  /* background-color: aqua; */
}
.HomepageProjectsSectionCard{
  display: block;
  position: relative;
  margin-top: 30px;
  width: 359px;
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: aqua; */
  /* margin-right: 80px; */
}
.HomepageProjectsSectionCardHeader{
  display: flex;
  /* background-color: #1f1f1f; */
}
.HomepageProjectsSectionCardHeader i{
  text-align: center;
  width: 25px;
  height: 25px;
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 25px;
  border-radius: 50%;
  color: aliceblue;
  text-shadow: 0px 1px 2px #000000;
}
.HomepageProjectsSectionCardTitle{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0px 1px 2px #000000;
  /* background-color: aqua; */
  
}
.HomepageProjectsSectionCardCardFooter{
  display: flex;
  width: 100%;
  height: 20px;
  /* background-color: rgb(0, 136, 255); */
  /* display: flex; */
  /* flex-direction: column; */
}
.HomepageProjectsSectionCardImage{
  width: 360px;
  height: 250px;
  background-color: aliceblue;
  /* background-color: rgb(158, 79, 70); */
  border-radius: 4px;
  transition: background-color .4s ease;
  /* box-shadow: -1px 1px 10px 10px rgba(59, 59, 59, 0.438); */
  cursor: pointer;
}
.HomepageProjectsSectionCardImage:hover{
  /* background-color: rgb(137, 252, 198); */
  background-color: rgb(168, 215, 255);
}
.HomepageProjectsSectionCardDescButton{
  position: relative;
  /* float: left; */
  /* left: -26px; */
  top: -255px;
  left: calc(100% - 29px);
  width: 30px;
  height: 250px;
  padding: none;
  margin-left: 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* background-color: rgb(65, 193, 197); */
  background-color: rgb(189, 199, 204);
  transition: left .4s ease;
  /* background-color: rgb(255, 124, 124); */
}
.HomepageProjectsSectionCardDescButton i{
  font-size: 20px;
}
.HomepageProjectsSectionCardDescButton:hover{
  /* background-color: rgb(229, 240, 85); */
  background-color: rgb(65, 193, 197);
}
.HomepageProjectsSectionCardDescButtonIcon{
  transition: all 1.2s ease;
}
.HomepageProjectsSectionCardDescSlider{
  position: relative;
  /* float: right; */
  top: -255px;
  left: calc(100% - 29px);
  width: calc(100% - 30px);
  height: 222px;
  background-color: rgb(31, 31, 31);
  color: white;
  transition: left .4s ease;
  font-size: 14px;
  padding: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* scrollbar-width: thin; */
}
.MyProjectCardTechTag{
  /* width: 57px; */
  height: 19px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 2px;
  border-radius: 6px;
  /* background-color: rgb(3, 3, 3); */
  background-image: linear-gradient(to right, rgb(26, 26, 26), rgb(26, 27, 31));
  color: rgb(134, 134, 134);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 7px;
  padding-bottom: 0px;
}

.HomepageFavoritesSectionCardWrapper{
  display: none;
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  /* align-content: space-between; */
  /* background-color: aqua; */
}

.HomepageEducationSectionWrapper{
  display: none;
  position: relative;
  width: 400px;
  height: 450px;
  padding-top: 20px;
  /* background-color: rgba(238, 241, 238, 0.705); */
}
.EducationCard{
  display: flex;
  width: fit-content;
  /* margin: auto; */
  padding-left: 0px;
  /* background-color: aqua; */
  /* font-family: Arial, Helvetica, sans-serif; */
}
.EducationImage{
  width: 55px;
  height: 55px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.EducationText{
  padding-top: 5px;
  /* background-color: blueviolet; */
  height: 100px;
  width: 310px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 2px #000000;
}
.EducationCredentialID{
  cursor: pointer;
  color: rgb(184, 184, 184);
}
.EducationCredentialID:hover{
  color: aqua;
}


@media(max-width: 450px){
  .HomepageEducationSectionWrapper {
    transform: scale(0.8);
    left: -45px;
  }
}
@media(max-width: 350px){
  .HomepageEducationSectionWrapper {
    transform: scale(0.7);
    left: -65px;
  }
}

.HomepageAboutSectionWrapper{
  display: none;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 350px;
  /* background-color: rgb(229, 255, 0); */
}
.HomepageAboutUpperSectionWrapper{
  display: flex;
}
.HomepageAboutPortraitImage{
  margin-top: 20px;
  width: 200px;
  height: 230px;
  border-radius: 10px;


}
.HomepageAboutSkillsSuperWrapper{
  position: relative;
}
.HomepageAboutDescription{
  min-width: 260px;
  max-width: 700px;
  height: 300px;
  margin: 0;
  padding: 20px;
  color: white;
  /* background-color: aqua; */
  text-shadow: 0px 1px 2px #000000;
}
.HomepageAboutSkillTitle{
  text-align: center;
  color: white;
  text-shadow: 0px 1px 2px #000000;
}
.HomepageAboutSkillsWrapper{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.HomePageAboutSkillCard{
  background-color: rgb(228, 228, 228);
  color: rgb(0, 0, 0);
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 11px;
  text-shadow: 0px 1px 1px #c7c7c7;
}


@media(max-width: 1800px){
  .ParallaxTitle{
  margin-top: 190px;
  font-size: 180px;
  }
}


@media(max-width: 1620px){
  #root{
  /* box-shadow: 0px 0px 210px 190px rgb(0, 0, 0) inset; */
  }
  .ParallaxTitle{
    margin-top: 200px;
    font-size: 150px;
  }
  .HomepageProjectsSectionCard{
    width: 300px;
  }
  .HomepageProjectsSectionCardTitle{
    margin-top: 13px;
    font-size: 14px;
  }
  .HomepageProjectsSectionCardImage{
    margin-top: 4px;
    width: 300px;
  }

}

@media(max-width: 1350px){
  .ParallaxTitle{
    margin-top: 240px;
    font-size: 120px;
  }
  .HomepageProjectsSectionCard{
    width: 359px;
  }
  .HomepageProjectsSectionCardTitle{
    margin-top: 12px;
    font-size: 17px;
  }
  .HomepageProjectsSectionCardImage{
    width: 360px;
  }

}
@media(max-width: 1240px){
  .ParallaxTitle{
    margin-top: 250px;
    font-size: 100px;
  }
  .HomepageRightSectionWrapper{
    position: relative;
    top: 220px;
    float: none;
    /* margin-top: 0px; */
  }
  .TimeAndLocationText{
    text-align: start;
  }
}
@media(max-width: 1080px){
  .ParallaxTitle{
    margin-top: 240px;
    font-size: 100px;
  }
  .HomepageProjectsSectionCard{
    width: 300px;
  }
  .HomepageProjectsSectionCardTitle{
    margin-top: 13px;
    font-size: 14px;
  }
  .HomepageProjectsSectionCardImage{
    margin-top: 4px;
    width: 300px;
  }

}

@media(max-width: 900px){
  #root{
  /* box-shadow: 0px 0px 210px 160px rgb(0, 0, 0) inset; */
  }
  .ParallaxTitle{
    margin-top: 250px;
    font-size: 90px;
  }
  .Header{
    padding-left: calc(5vw + 83px)
  }
  .HeaderLogoWrapper{
    left: 5vw;
  }
  .HomepageSuperWrapper{
    width: 90vw;
  }
  .HomepageProjectsSectionCard{
    width: 359px;
  }
  .HomepageProjectsSectionCardTitle{
    font-size: 18px;
  }
  .HomepageProjectsSectionCardImage{
    width: 360px;
  }

}

@media(max-width: 850px){
  .ParallaxTitle{
    margin-top: 250px;
    font-size: 70px;
  }
  .HeaderButton{
    display: none;
  }
  .HeaderHamburgerButton{
    display: block;
    float: right;
  }
}

@media(max-width: 800px){
  #root{
    /* box-shadow: 0px 0px 200px 135px rgb(0, 0, 0) inset; */
  }
  .HomepageProjectsSectionCard{
    width: 300px;
  }
  .HomepageProjectsSectionCardTitle{
    margin-top: 13px;
    font-size: 14px;
  }
  .HomepageProjectsSectionCardImage{
    margin-top: 4px;
    width: 300px;
  }
}

@media(max-width: 670px){
  #root{
    /* box-shadow: 0px 0px 200px 110px rgb(0, 0, 0) inset; */
  }
  .ParallaxTitle{
    margin-top: 250px;
    font-size: 50px;
  }
  .HomepageTitleWrapper{
    width: 500px;
  }
  .HeaderButtonsWrapper{
  /* background-color: antiquewhite; */
    width: calc(100vw - 80px);
  }
  .HomepageProjectsSectionCard{
    /* background-color: aquamarine; */
    width: 200px;
    height: 200px;
  }
  .HomepageProjectsSectionCardTitle{
    margin-top: 17px;
    font-size: 9px;
  }
  .HomepageProjectsSectionCardImage{
    margin-top: 4px;
    width: 200px;
    height: 140px;
  }
  .HomepageProjectsSectionCardDescButton{
    height: 140px;
    top: -145px;
  }
  .HomepageProjectsSectionCardDescSlider{
    height: 112px;
    width: 170px;
    top: -145px;
    font-size: 11px;
  }
  .HomepageAboutSkillsSuperWrapper{
  position: relative;
  top: 100px;
  }
}


@media(max-width: 520px){
  .HomepageTitleWrapper{
    width: 400px;
  }
  .HomepageProjectsSectionCardDescButton{
    top: -144px;
  }
  .HomepageProjectsSectionCardDescSlider{
    top: -144px;
  }
  .HomepageAboutPortraitImage{
    /* margin: auto; */
    width: 100px;
    height: 120px;
    padding-left: 20px;
  }
  .HomepageAboutUpperSectionWrapper{
    flex-wrap: wrap;
    font-size: 15px;
  }
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    top: 0px;
  }
}


@media(max-width: 450px){
  #root{
    /* box-shadow: 0px 0px 200px 100px rgb(0, 0, 0) inset; */
  }
  .ParallaxTitle{
    margin-top: 100px;
    font-size: 30px;
  }
  .HomepageTitleWrapper{
    width: 330px;
    transform: scale(0.9);
  }
  .HomepageRightSectionWrapper{
    left: 9px;
    transform: scale(0.9);
  }
  .HomepageProjectsSectionNavButton{
    margin-right: 10px;
    font-size: 14px;
  }
  .HomepageProjectsSectionCard{
    width: 300px;
    height: 235px;
    /* background-color: antiquewhite; */
  }
  .HomepageProjectsSectionCardTitle{
    margin-top: 13px;
    font-size: 14px;
  }
  .HomepageProjectsSectionCardImage{
    margin-top: 4px;
    width: 300px;
    height: 190px;
  }
    .HomepageProjectsSectionCardDescButton{
    height: 190px;
    top: -194px;
  }
  .HomepageProjectsSectionCardDescSlider{
    height: 162px;
    width: 300px;
    top: -194px;
    font-size: 11px;
  }
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    top: 50px;
  }
}
