body {
  /* width: 100vw;
  height: 100vh; */
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  color: rgb(0, 0, 0);
  /* background-color: rgb(19, 19, 19); */
  background: linear-gradient(45deg,rgba(19, 19, 19) 20%, rgb(32, 32, 32) 40%, rgba(19, 19, 19) 70%);
  overflow: hidden;
  cursor: default;
  /* overflow-y: scroll; */
}
h1{
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: monospace;
  font-weight: lighter;
  /* letter-spacing: 1px; */
  /* color: rgba(180, 9, 23, 0.432); */
  font-size: 30px;
}
h2{
  /* font-size: 15px; */
  /* font-family: monospace; */
  /* font-size: 12px; */
  font-weight: lighter;
}
hr {
  /* width: 70px; */
}
h5{
  margin: 0px;
  font-size: 13px;
}
/* width */
::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(65, 193, 197);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(31,31,31);
}
::-webkit-scrollbar-track{
width: 12px;
}
::-webkit-scrollbar-button{
 background-color: rgb(65, 193, 197);
 width: 10px;
 height: 10px;
}


#root{
  width: 100vw;
  height: 100vh;
  /* box-shadow: 0px 0px 210px 200px rgb(0, 0, 0) inset; */
  overflow: hidden;
}


.ParallaxWrapper{
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-color: aqua; */

}
.ParallaxImage{
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
}
#parallaxImageOne{
  top: -80px;
}
#parallaxImageTwo{
  top: -80px;

}
#parallaxImageThree{
  top: -80px;

}
#parallaxImageFour{
  top: -80px;
   
}
#parallaxImageFive{
  top: -80px;
  
}
#parallaxImageSix{
  top: -80px;
  
}
#parallaxImageSeven{
  top: -80px;
  
}
.ParallaxTitle{
  position: absolute;
  top: 20px;
  /* margin-top: -300px; */
  font-size: 200px;
  /* color: rgba(197, 72, 72, 0.363); */
}

.ParallaxImageBuffer{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  margin-top: 100vh;
  /* background-color: rgb(33, 19, 20); */
}







/* ---------------------------------------------------------------------------------------------- Header VVVV */
.Header{
  width: 100vw;
  height: 60px;
  padding-left: calc(16.5vw + 83px);
  /* background-color: rgb(31, 31, 31); */
  border-bottom: 1px solid rgb(70, 70, 70);
}
.HeaderLogoWrapper{
  position: absolute;
  /* display: flex; */
  left: 16.5vw;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor:pointer;
  /* background-color: rgb(110, 60, 60); */
  background-color: rgb(213, 111, 62);
  transition: border-radius .4s ease;
}
.HeaderLogoWrapper:hover{
  border-radius: 0px;
}
.HeaderLogoImage{
  /* margin-top: 5px; */
  width: 40px;
  height: 40px;
}
.HeaderButtonsWrapper{
  /* background-color: antiquewhite; */
  width: calc(100vw - 100px);
}
.HeaderButton{
  z-index: 10;
  border: none;
  margin-right: 40px;
  margin-top: 10px;
  padding: 12px;
  /* border-bottom: 4px solid rgb(31, 31, 31); */
  border-radius: 5px;
  letter-spacing: .7px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-shadow: 0px 1px 2px #000000;
}
.HeaderButton:hover{
  background-color: rgba(31, 130, 187, 0.3);
  color: rgb(128, 193, 247);
}
.HeaderButtonDropdown{
  z-index: 2;
  display: none;
  position: absolute;
  width: 250px;
  border-radius: 5px;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /* background-color: rgb(31, 31, 31); */
}
.HeaderButtonDropdownButtonWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 5px;
  /* background-color: aqua; */
  background-color: rgb(31, 31, 31);
}
.HeaderButtonDropdownButton{
  display: flex;
  border: none;
  width: auto;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  letter-spacing: .7px;
  text-align: left;
  background-color: transparent;
  color: white;
}
.HeaderButtonDropdownButton:hover{
  background-color: rgba(163, 163, 163, 0.164);
}
.HeaderButtonDropdownButtonColorPad{
  width: 3px;
  height: 30px;
  margin-top: 15px;
  margin-left: 4px;
  background-color: rgb(213, 111, 62);
}
.HeaderButtonDropdownButtonTopText{
  margin-top: 14px;
  margin-left: 8px;
  font-weight: normal;
}
.HeaderButtonDropdownButtonBottomText{
  position: absolute;
  margin: 0px;
  margin-top: 35px;
  margin-left: 16px;
  font-size: 11px;
  color: rgb(121, 121, 121);
}
#templatesDropdownWrapper{
  left: calc(16.5vw + 83px);
  
}
#semanticsDropdownWrapper{
  left: calc(16.5vw + 226px);
}
#blogDropdownWrapper{
  left: calc(16.5vw + 354px);
}
#helpDropdownWrapper{
  left: calc(16.5vw + 462px);
}

.HeaderHamburgerButton{
  position: absolute;
  right: 10px;
  display: none;
  z-index: 10;
  border: none;
  margin-right: 0px;
  margin-top: 10px;
  padding: 12px;
  /* border-bottom: 4px solid rgb(31, 31, 31); */
  border-radius: 5px;
  letter-spacing: .7px;
  /* background-color: transparent; */
  color: white;
  cursor: pointer;
  text-shadow: 0px 1px 2px #000000;
  /* background-color: rgb(213, 111, 62); */
  background-color: transparent;

}
.HeaderHamburgerButton:hover{
  background-color: #c7c7c715;
}
.HeaderHamburgerDropdownWrapper{
  display: none;
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  top: 39px;
  right: 0px;
  width: 230px;
  height: 260px;
  /* background-color: rgb(110, 60, 60); */
}
/* ---------------------------------------------------------------------------------------------- Header ^^^^ */

.MainContentWrapper{
  width: 100vw;
  height: calc(100vh - 60px);
  /* background-color: aliceblue; */
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
.MainContentWrapper::-webkit-scrollbar{
  width: 0px;
}
.HomepageSuperWrapper{
  width: 67vw;
  height: calc(100vh - 60px);
  margin: auto;
  /* background-color: rgb(43, 43, 43); */
  /* overflow-y: scroll; */
  /* pointer-events: none */
  scroll-behavior: smooth;
}
.HomepageTitleWrapper{
  position: relative;
  /* position: absolute; */
  width: 600px;
  height: calc-size(fit-content, size + 90px) ;
  /* background-color: aqua; */
  /* left: 320px; */
  margin-top: 85px;
}
.HomepageTitle{
  /* color: white; */
  font-size: 30px;
  /* text-shadow: 0px 1px 2px #00000060; */
}

/* Class used for typing animations*/
.type{
  font-family: monospace;
  color:#b3323200;
  background:
    linear-gradient(-90deg,white 5px,#ffffff00 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.07s) steps(var(--n)) forwards;
}
.HomepageTitleDescription{
  margin-top: 25px;
  color: white;
  font-size: 14px;
  text-shadow: 0px 1px 2px #000000;
}
.HomepageTitleDescriptionEmailButton{
  position: absolute;
  width: fit-content;
  left: 0px;
  margin-top: 22px;
  margin-left: 2px;
  padding: 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  /* background-color: transparent; */
  /* border: 1px solid white; */
  cursor: pointer;
  box-shadow: -1px 1px 4px 1px rgb(0, 0, 0);
  text-shadow: 0px 1px 1px #d8d8d8;
  transition: font-size 0.3s ease, left 0.3s ease, padding 0.3s ease;

}
.HomepageTitleDescriptionEmailButton:hover{
  background-color: rgb(65, 193, 197);
  /* color: white; */
  font-size: 15px;
  text-shadow: 0px 1px 1px rgb(51, 186, 190);
  left: -8px;
  /* border-radius: 10px; */
  padding: 17px;
   /* color: rgb(47, 51, 45); */
   box-shadow: -1px 1px 1px 1px rgb(5, 5, 5)
  /* color: white; */
}
.HomepageRightSectionWrapper{
  float: right;
  /* margin-right: 50px; */
  margin-top: -200px;
  width: fit-content;
  height: 120px;
}
.TimeAndLocationText{
  width: 100%;
  text-align: end;
  color: white;
  text-shadow: 0px 1px 2px #000000;
}
#timeAndLocationTextOne{
  font-size: 12px;
}
#timeAndLocationTextTwo{
  font-weight: bold;
  font-size: 15px;
  color: rgb(65, 193, 197);
  
}
#timeAndLocationTextThree{
  font-size: 12px;
}
.HomepageProjectsSectionSuperWrapper{
  float: left;
  margin-top: 300px;
  width: 100%;
  height: 1400px;
  padding-top: 20px;
  transform: scale(0%);
  transition: transform 1s ease;
}

.HomepageProjectsSectionNavButton{
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid transparent;
  margin-right: 30px;
  padding: 0px;
  text-shadow: 0px 1px 2px #000000;
  /* background-color: #505050; */
  cursor: pointer;
  transition: border-bottom 0.3s ease;

}
.HomepageProjectsSectionNavButton:hover{
  /* background-color: rgb(141, 153, 153); */
  border-bottom: 1px solid rgb(65, 193, 197);
}

.HomepageProjectsSectionCardWrapper{
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 100%;
  height: 3000px;
  /* justify-content: space-between; */
  /* align-content: space-between; */
  /* background-color: rgb(177, 162, 152); */

}
.HomepageProjectsSectionCard{
  flex-shrink: none;
  flex-grow: none;
  /* width: 380px; */
  width: 32%;
  height: fit-content;
  padding-bottom: 20px;
  border-radius: 20px;
  margin: 20px;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
  /* background-image: linear-gradient(rgb(48, 48, 48), rgb(27, 27, 27)); */
  transition: all .4s ease;
  cursor: pointer;
}

.HomepageProjectsSectionCard:hover{
  background-color: rgb(175, 241, 250);
}


/* vv CSS Needed for Masonry Triple Column Styling vv */
.HomepageProjectsSectionCard:nth-child(3n+1) { order: 1; } /* Items 1, 4, 7... */
.HomepageProjectsSectionCard:nth-child(3n+2) { order: 2; } /* Items 2, 5, 8... */
.HomepageProjectsSectionCard:nth-child(3n)   { order: 3; } /* Items 3, 6, 9... */
.HomepageProjectsSectionCardWrapper::before,
.HomepageProjectsSectionCardWrapper::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2; /* Ensures breaks sit precisely between your ordered columns */
}
/* ^^ CSS Needed for Masonry Triple Column Styling ^^ */

.HomepageProjectsSectionCardImage{
  position: inherit;
  width: 92%;
  height: 220px;
  border-radius: 10px;
  margin-left: 4%;
  margin-top: 4%;
  object-fit: cover;
  /* object-position: 0px 0px 0px; */
  background-color: rgb(253, 253, 253);
  box-shadow: 4px 4px 0px rgb(235, 120, 68);
}
.HomepageProjectsSectionCardTypeDescription{
  padding-left: 4%;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgb(65, 193, 197);
}
.HomepageProjectsSectionCardTitle{
  padding-left: 4%;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: rgb(51, 51, 51);
}
.HomepageProjectsSectionCardTechTagsWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  height: fit-content;
}
.HomepageProjectsSectionCardTechTag{
  width: fit-content;
  padding: 4px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: rgb(51, 51, 51);
  /* background-color: rgba(46, 46, 46, 0.993); */
}
.HomepageProjectsSectionCardTechIconsSuperWrapper{
  position: relative;
  height: 0px; /* Or whatever height you need */
  
}
.HomePageProjectsSectionCardTechIconsWrapper{
  position: absolute;
  bottom: 0;   /* Anchors it to the bottom */
  right: 0;
  width: 38px;
  height: auto; /* Allows it to grow naturally */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-right: 12px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid rgb(158, 158, 158); */
  box-shadow: 0px 0px 3px rgb(100, 100, 100);
}
.HomePageProjectsSectionCardTechIcon{
  position: relative;
  width: 32px;
  margin-left: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}
/* 
.HomepageProjectsSectionCardWrapper{
  display: block;
  position: relative;
  width: 400px;
  height: 250px;
  background-color: aqua;
} */











.HomepageFavoritesSectionCardWrapper{
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 100%;
  height: 3000px;
}





.HomepageEducationSectionWrapper{
  display: none;
  position: relative;
  width: 400px;
  height: 450px;
  padding-top: 20px;
  /* background-color: rgba(238, 241, 238, 0.705); */
}


.EducationCard{
  display: flex;
  width: fit-content;
  /* margin: auto; */
  padding-left: 0px;
  /* background-color: aqua; */
  /* font-family: Arial, Helvetica, sans-serif; */
}
.EducationImage{
  width: 55px;
  height: 55px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.EducationText{
  padding-top: 5px;
  /* background-color: blueviolet; */
  height: 100px;
  width: 310px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 2px #000000;
}
.EducationCredentialID{
  cursor: pointer;
  color: rgb(184, 184, 184);
}
.EducationCredentialID:hover{
  color: aqua;
}


@media(max-width: 450px){
  .HomepageEducationSectionWrapper {
    transform: scale(0.8);
    left: -45px;
  }
}
@media(max-width: 350px){
  .HomepageEducationSectionWrapper {
    transform: scale(0.7);
    left: -65px;
  }
}


.HomepageAboutSectionWrapper{
  display: none;
  width: 1050px;
  height: 600px;
  /* background-color: rgba(78, 78, 78, 0.267); */
}
.HomepageAboutSectionDescriptionSectionWrapper{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  /* background-color: azure; */
}
.HomepageAboutPortraitImage{
  flex-shrink: none;
  width: 300px;
  height: 350px;
  border-radius: 2px;
  border-bottom-right-radius: 20px;
  margin-top: 30px;
  margin-right: 10px;
  /* border: 1px solid rgb(213, 111, 62); */
  box-shadow: -6px -6px 0px rgb(235, 120, 68);
  /* background-color: brown; */
}
.HomepageAboutSectionDescriptionSectionNameHeader{
  /* text-align: center; */
  padding-left: 10px;
  font-weight: 500;
  color: rgb(235, 120, 68);
  font-family: "Rubik", sans-serif;
}
:nth-child(2 of .HomepageAboutSectionDescriptionSectionNameHeader){
  width: fit-content;
  padding-left: 0px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
  margin-left: 10px;
  font-size: 17px;
  color: rgb(65, 193, 197);
  font-family: "Inter", sans-serif;
  /* background-color: #47474728; */
  /* border-radius: 4px; */
  
}
.HomepageAboutSkillsSuperWrapper{
  position: relative;
  /* background-color: red;
  background-color: blueviolet; */
}
.HomepageAboutSectionDescriptionSectionHeaderAndDescriptionWrapper{
  flex-shrink: none;
  width: 700px;
  height: fit-content;
  border-radius: 5px;
  margin-top: 30px;
  background-color: rgba(80, 80, 80, 0.103);
  
  
}
.HomepageAboutSectionDescriptionSectionDescription{
  /* width: fit-content; */
  /* width: 200px; */
  height: fit-content;
  padding: 10px;
  margin: 0;
  color: white;
  /* background-color: rgb(0, 255, 64); */
  text-shadow: 0px 1px 2px #000000;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  /* text-align: center; */
}

.HomepageAboutSectionSocialMediaLinksSuperWrapper{
  position: relative;
  top: -80px;
  width: 100%;
  height: 100px;
  margin: auto;
  /* background-color: aquamarine; */
}

.HomepageAboutSectionSocialMediaLinksWrapper{
  display: flex;
  width: 700px;
  height: 60px;
  background-color: rgba(34, 34, 34, 0.712);
  margin-left: 310px;
  border-radius: 5px;
}
.SemanticButtonDiv{
  appearance: none;
  background: none;
  padding: 0;
  border: none;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer; /* or default */
  /* background-color: aqua; */
  height: 60px
}
.HomepageAboutSectionSocialMediaLinkCard{
  height: 100%;
  margin-right: 25px;
  /* background-color: aquamarine; */
}
:nth-child(1 of .HomepageAboutSectionSocialMediaLinkCard){
  margin-left: 5px;
}
.HomepageAboutSectionSocialMediaLinkCardIcon{
  width: 38px;
  margin-top: 11px;
  /* background-color: brown; */
}













.HomepageAboutSectionSkillsNavigationWrapper{
  width: 100%;
  height: 100px;
  /* background-color: aliceblue; */
}
.HomepageAboutSectionSkillsNavBar{
  display: flex;
  width: 100%;
  height: 100px;
  /* background-color: rgba(210, 255, 127, 0.267); */
}
.HomepageAboutSectionSkillsNavButton{
  position: relative;
  width: 150px;
  height: 120px;
  border: none;
  outline: none;
  padding: 0px;
  padding: 10px;
  border: 1px solid rgb(235, 120, 68);
  border-radius: 10px;
  margin: auto;
  font-family: "Rubik", sans-serif;
  background-color: rgba(0, 128, 0, 0);
  cursor: pointer;
  /* align-items: end;
  align-content: start; */
  transition: background-color .3s ease;
}
.HomepageAboutSectionSkillsNavButton:hover{
  border: 1px solid rgba(235, 121, 68, 0.699);
  background-color: rgba(65, 193, 197, 0.151);
}
.HomepageAboutSectionSkillsNavButtonImage{
  position: relative;
  width: 30px;
  top: 0px;
  fill: white !important;
  /* background-color: #000000; */
}
.HomepageAboutSectionSkillsNavButtonTitle{
  margin-top: 5px;
  font-size: 22px;
  font-weight: 500;
  color: white;
  /* background-color: red; */
}
.HomepageAboutSectionSkillsNavButtonSkillsNumberDescription{
  margin-top: -10px;
  font-size: 14px;
  color: rgb(167, 167, 167);
}



.HomepageAboutSectionSkillCardsSuperWrapper{
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  /* background-color: burlywood; */
}
.HomepageAboutSectionSkillCardsWrapper{
  display: flex;
  /* display: none; */
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  /* background-color: rgb(202, 118, 58); */
}













@media(max-width: 1800px){
  .ParallaxTitle{
  margin-top: 190px;
  font-size: 180px;
  }
}


@media(max-width: 1620px){
  #root{
  /* box-shadow: 0px 0px 210px 190px rgb(0, 0, 0) inset; */
  }
  /* .ParallaxWrapper{
    width: 1800px;
  } */
  .ParallaxImage{
    width: 1800px;
  }
  .ParallaxTitle{
    margin-top: 200px;
    font-size: 150px;
  }
  .HomepageProjectsSectionCard{
    /* width: 300px; */
    /* height: 300px; */
  }
}

@media(max-width: 1523px){
  .HomepageProjectsSectionCardWrapper {
    height: 4000px; /* 👈 Set a height large enough for 2 columns */
  }
  .HomepageProjectsSectionCard{
    width: 48%;
    /* width: 380px; */
    /* height: 380px; */
  }
  .masonry-item {
    width: 48%; /* Fits two columns with a small gap */
    margin-right: 4%;
  }

  /* Remove right margin on every second column item */
  .HomepageProjectsSectionCard:nth-child(2n) {
    margin-right: 0;
  }

  /* Re-order for 2 columns (Left-to-Right reading order) */
  .HomepageProjectsSectionCard:nth-child(2n+1) { order: 1; } /* Items 1, 3, 5... */
  .HomepageProjectsSectionCard:nth-child(2n)   { order: 2; } /* Items 2, 4, 6... */
}








@media(max-width: 1480px){

  .HomepageAboutSectionWrapper{
    /* display: none; */
    width: 900px;
    /* height: 600px; */
    /* background-color: rgba(33, 135, 218, 0.055); */
  }

  .HomepageAboutPortraitImage{
    /* flex-shrink: none; */
    width: 280px;
    height: 335px;
    /* border-radius: 2px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
    margin-right: 10px; */
    /* border: 1px solid rgb(213, 111, 62); */
    /* box-shadow: -6px -6px 0px rgb(235, 120, 68); */
    /* background-color: brown; */
  }
  
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    /* background-color: red;
    background-color: blueviolet; */
  }
  .HomepageAboutSectionDescriptionSectionHeaderAndDescriptionWrapper{
    /* flex-shrink: none; */
    width: 610px;
    /* height: fit-content;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgba(80, 80, 80, 0.103); */
  }

  .HomepageAboutSectionSocialMediaLinksSuperWrapper{
    /* position: relative; */
    top: -45px;
    /* width: 100%; */
    /* height: 100px; */
    /* margin: auto; */
    /* background-color: aquamarine; */
  }

  .HomepageAboutSectionSocialMediaLinksWrapper{
    /* display: flex; */
    width: 610px;
    /* height: 60px; */
    /* background-color: rgba(34, 34, 34, 0.712); */
    margin-left: 290px;
    /* border-radius: 5px; */
  }


}

@media(max-width: 1350px){
  .ParallaxTitle{
    margin-top: 240px;
    font-size: 120px;
  }

  .HomepageAboutSectionWrapper{
    /* display: none; */
    width: 850px;
    /* height: 600px; */
    /* background-color: rgba(33, 135, 218, 0.055); */
  }

  .HomepageAboutPortraitImage{
    /* flex-shrink: none; */
    width: 250px;
    height: 295px;
    /* border-radius: 2px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
    margin-right: 10px; */
    /* border: 1px solid rgb(213, 111, 62); */
    /* box-shadow: -6px -6px 0px rgb(235, 120, 68); */
    /* background-color: brown; */
  }
  
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    /* background-color: red;
    background-color: blueviolet; */
  }
  .HomepageAboutSectionDescriptionSectionHeaderAndDescriptionWrapper{
    /* flex-shrink: none; */
    width: 570px;
    /* height: fit-content;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgba(80, 80, 80, 0.103); */
  }

  .HomepageAboutSectionSocialMediaLinksSuperWrapper{
    /* position: relative; */
    top: -7px;
    /* width: 100%; */
    /* height: 100px; */
    /* margin: auto; */
    /* background-color: aquamarine; */
  }

  .HomepageAboutSectionSocialMediaLinksWrapper{
    /* display: flex; */
    width: 570px;
    /* height: 60px; */
    /* background-color: rgba(34, 34, 34, 0.712); */
    margin-left: 260px;
    /* border-radius: 5px; */
  }

}


@media(max-width: 1255px){
 
}



@media(max-width: 1240px){
  .ParallaxTitle{
    margin-top: 250px;
    font-size: 100px;
  }
  .HomepageRightSectionWrapper{
    position: relative;
    top: 220px;
    float: none;
    /* margin-top: 0px; */
  }
  .TimeAndLocationText{
    text-align: start;
  }




  .HomepageAboutSectionWrapper{
    /* display: none; */
    width: 670px;
    /* height: 600px; */
    /* background-color: rgba(33, 135, 218, 0.055); */
  }

  .HomepageAboutPortraitImage{
    /* flex-shrink: none; */
    width: 200px;
    height: 230px;
    /* border-radius: 2px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
    margin-right: 10px; */
    /* border: 1px solid rgb(213, 111, 62); */
    /* box-shadow: -6px -6px 0px rgb(235, 120, 68); */
    /* background-color: brown; */
  }
  
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    /* background-color: red;
    background-color: blueviolet; */
  }
  .HomepageAboutSectionDescriptionSectionHeaderAndDescriptionWrapper{
    /* flex-shrink: none; */
    width: 450px;
    /* height: fit-content;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgba(80, 80, 80, 0.103); */
  }

  .HomepageAboutSectionSocialMediaLinksSuperWrapper{
    /* position: relative; */
    top: 5px;
    /* width: 100%; */
    /* height: 100px; */
    /* margin: auto; */
    /* background-color: aquamarine; */
  }

  .HomepageAboutSectionSocialMediaLinksWrapper{
    /* display: flex; */
    width: 450px;
    /* height: 60px; */
    /* background-color: rgba(34, 34, 34, 0.712); */
    margin-left: 210px;
    /* border-radius: 5px; */
  }













}
@media(max-width: 1080px){
  .ParallaxTitle{
    margin-top: 240px;
    font-size: 100px;
  }
  .HomepageProjectsSectionCard{
    /* width: 300px; */
    
  }

  .HomepageProjectsSectionCardWrapper {
    flex-flow: column nowrap;
    flex: none;
    /* height: 8000px; 👈 Set a height large enough for 2 columns */
    height: auto !important;
  }
  .HomepageProjectsSectionCard{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    order: initial !important;
    /* width: 380px; */
    /* height: 380px; */
  }
  .HomepageProjectsSectionCardImage{
    height: 30%;
    min-height: 220px;
    max-height: 400px;
  }

}
@media(max-width: 1015px){
 
}

@media(max-width: 900px){
  #root{
  /* box-shadow: 0px 0px 210px 160px rgb(0, 0, 0) inset; */
  }
  .ParallaxTitle{
    margin-top: 250px;
    font-size: 90px;
  }
  .Header{
    padding-left: calc(5vw + 83px)
  }
  .HeaderLogoWrapper{
    left: 5vw;
  }
  .HomepageSuperWrapper{
    width: 90vw;
  }
  
  .HomepageAboutSectionWrapper{
    /* display: none; */
    width: 670px;
    /* height: 600px; */
    /* background-color: rgba(33, 135, 218, 0.055); */
  }

  .HomepageAboutPortraitImage{
    /* flex-shrink: none; */
    width: 200px;
    height: 230px;
    /* border-radius: 2px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
    margin-right: 10px; */
    /* border: 1px solid rgb(213, 111, 62); */
    /* box-shadow: -6px -6px 0px rgb(235, 120, 68); */
    /* background-color: brown; */
  }
  
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    /* background-color: red;
    background-color: blueviolet; */
  }
  .HomepageAboutSectionDescriptionSectionHeaderAndDescriptionWrapper{
    /* flex-shrink: none; */
    width: 450px;
    /* height: fit-content;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgba(80, 80, 80, 0.103); */
  }

  .HomepageAboutSectionSocialMediaLinksSuperWrapper{
    /* position: relative; */
    top: 5px;
    /* width: 100%; */
    /* height: 100px; */
    /* margin: auto; */
    /* background-color: aquamarine; */
  }

  .HomepageAboutSectionSocialMediaLinksWrapper{
    /* display: flex; */
    width: 450px;
    /* height: 60px; */
    /* background-color: rgba(34, 34, 34, 0.712); */
    margin-left: 210px;
    /* border-radius: 5px; */
  }




}

@media(max-width: 850px){
  .ParallaxTitle{
    margin-top: 250px;
    font-size: 70px;
  }
  .HeaderButton{
    display: none;
  }
  .HeaderHamburgerButton{
    display: block;
    float: right;
  }
}

@media(max-width: 800px){
  #root{
    /* box-shadow: 0px 0px 200px 135px rgb(0, 0, 0) inset; */
  }
}


@media(max-width: 720px){

  .HomepageAboutSectionWrapper{
    /* display: none; */
    width: 100%;
    /* height: 600px; */
    /* background-color: rgba(33, 135, 218, 0.055); */
  }
  .HomepageAboutSectionDescriptionSectionWrapper{
    /* font-family: "Inter", sans-serif; */
    display: block;
    flex-direction: column;
    /* height: fit-content; */
    /* width: 100%; */
    /* background-color: azure; */
  }

  .HomepageAboutPortraitImage{
    /* flex-shrink: none; */
    float: right;
    width: 220px;
    height: 250px;
    border-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    margin-top: -4px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* border: 1px solid rgb(213, 111, 62); */
    box-shadow: -4px 4px 0px rgb(235, 120, 68);
    /* background-color: brown; */
  }
  
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    /* background-color: red;
    background-color: blueviolet; */
  }
  .HomepageAboutSectionDescriptionSectionHeaderAndDescriptionWrapper{
    /* flex-shrink: none; */
    width: 450px;
    padding-top: 1px;
    /* height: fit-content;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgba(80, 80, 80, 0.103); */
  }
  :nth-child(2 of .HomepageAboutSectionDescriptionSectionNameHeader){
    font-size: 16px;
    width: 300px;
    /* background-color: aqua; */
  }

  .HomepageAboutSectionSocialMediaLinksSuperWrapper{
    /* position: relative; */
    top: 5px;
    /* width: 100%; */
    /* height: 100px; */
    /* margin: auto; */
    /* background-color: aquamarine; */
  }

  .HomepageAboutSectionSocialMediaLinksWrapper{
    /* display: flex; */
    width: 450px;
    /* height: 60px; */
    /* background-color: rgba(34, 34, 34, 0.712); */
    margin-left: 0px;
    /* border-radius: 5px; */
  }




.HomepageAboutSectionSkillsNavButton{
  /* position: relative; */
  width: 110px;
  height: 110px;
  /* border: none;
  outline: none;
  padding: 0px;
  padding: 10px;
  border: 1px solid rgb(235, 120, 68);
  border-radius: 10px;
  margin: auto;
  font-family: "Rubik", sans-serif;
  background-color: rgba(0, 128, 0, 0);
  cursor: pointer; */
  /* align-items: end;
  align-content: start; */
  /* transition: background-color .3s ease; */
}

.HomepageAboutSectionSkillsNavButtonImage{
  /* position: relative; */
  /* width: 30px;
  top: 0px;
  fill: white !important; */
  /* background-color: #000000; */
}
.HomepageAboutSectionSkillsNavButtonTitle{
  /* margin-top: 5px; */
  font-size: 20px;
  /* font-weight: 500; */
  /* color: white; */
  /* background-color: red; */
}
.HomepageAboutSectionSkillsNavButtonSkillsNumberDescription{
  /* margin-top: -10px; */
  font-size: 13px;
  /* color: rgb(167, 167, 167); */
}















}


@media(max-width: 670px){
  #root{
    /* box-shadow: 0px 0px 200px 110px rgb(0, 0, 0) inset; */
  }
  .ParallaxTitle{
    margin-top: 250px;
    font-size: 50px;
  }
  .HomepageTitleWrapper{
    width: 500px;
  }
  .HeaderButtonsWrapper{
  /* background-color: antiquewhite; */
    width: calc(100vw - 80px);
  }
 
  .HomepageAboutSkillsSuperWrapper{
  position: relative;
  top: 100px;
  }

  .HomepageAboutPortraitImage{
    /* flex-shrink: none; */
    float: right;
    width: 180px;
    height: 195px;
    border-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    margin-top: -4px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* border: 1px solid rgb(213, 111, 62); */
    box-shadow: -4px 4px 0px rgb(235, 120, 68);
    /* background-color: brown; */
  }



}
@media(max-width: 580px){
  .HomepageAboutPortraitImage{
    display: none;
  }
  :nth-child(2 of .HomepageAboutSectionDescriptionSectionNameHeader){
    font-size: 16px;
    width: 350px;
    /* background-color: aqua; */
  }
}

@media(max-width: 520px){
  .HomepageTitleWrapper{
    width: 400px;
  }
 
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    top: 0px;
  }







  .HomepageAboutSectionWrapper{
    /* display: none; */
    width: 100%;
    /* height: 600px; */
    /* background-color: rgba(33, 135, 218, 0.055); */
  }
  .HomepageAboutSectionDescriptionSectionWrapper{
    /* font-family: "Inter", sans-serif; */
    display: block;
    flex-direction: column;
    /* height: fit-content; */
    /* width: 100%; */
    /* background-color: azure; */
  }
  
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    /* background-color: red;
    background-color: blueviolet; */
  }
  .HomepageAboutSectionDescriptionSectionHeaderAndDescriptionWrapper{
    /* flex-shrink: none; */
    width: 400px;
    padding-top: 1px;
    /* height: fit-content;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgba(80, 80, 80, 0.103); */
  }
  :nth-child(2 of .HomepageAboutSectionDescriptionSectionNameHeader){
    font-size: 16px;
    width: 260px;
    /* background-color: aqua; */
  }

  .HomepageAboutSectionSocialMediaLinksSuperWrapper{
    /* position: relative; */
    top: 5px;
    /* width: 100%; */
    /* height: 100px; */
    /* margin: auto; */
    /* background-color: aquamarine; */
  }

  .HomepageAboutSectionSocialMediaLinksWrapper{
    /* display: flex; */
    width: 400px;
    /* height: 60px; */
    /* background-color: rgba(34, 34, 34, 0.712); */
    margin-left: 0px;
    /* border-radius: 5px; */
  }















.HomepageAboutSectionSkillsNavButton{
  /* position: relative; */
  width: 90px;
  height: 95px;
  /* border: none;
  outline: none;
  padding: 0px;
  padding: 10px;
  border: 1px solid rgb(235, 120, 68);
  border-radius: 10px;
  margin: auto;
  font-family: "Rubik", sans-serif;
  background-color: rgba(0, 128, 0, 0);
  cursor: pointer; */
  /* align-items: end;
  align-content: start; */
  /* transition: background-color .3s ease; */
}

.HomepageAboutSectionSkillsNavButtonImage{
  /* position: relative; */
  /* width: 30px;
  top: 0px;
  fill: white !important; */
  /* background-color: #000000; */
}
.HomepageAboutSectionSkillsNavButtonTitle{
  /* margin-top: 5px; */
  font-size: 16px;
  /* font-weight: 500; */
  /* color: white; */
  /* background-color: red; */
}
.HomepageAboutSectionSkillsNavButtonSkillsNumberDescription{
  /* margin-top: -10px; */
  font-size: 12px;
  /* color: rgb(167, 167, 167); */
}











}


@media(max-width: 450px){
  #root{
    /* box-shadow: 0px 0px 200px 100px rgb(0, 0, 0) inset; */
  }
  .ParallaxTitle{
    margin-top: 100px;
    font-size: 30px;
  }
  .HomepageTitleWrapper{
    width: 330px;
    transform: scale(0.9);
  }
  .HomepageRightSectionWrapper{
    left: 9px;
    transform: scale(0.9);
  }
  .HomepageProjectsSectionNavButton{
    margin-right: 10px;
    font-size: 14px;
  }

  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    top: 50px;
  }





  .HomepageAboutSectionWrapper{
    /* display: none; */
    width: 100%;
    /* height: 600px; */
    /* background-color: rgba(33, 135, 218, 0.055); */
    /* transform: scale(90%); */
  }
  .HomepageAboutSectionDescriptionSectionWrapper{
    /* font-family: "Inter", sans-serif; */
    display: block;
    flex-direction: column;
    /* height: fit-content; */
    /* width: 100%; */
    /* background-color: azure; */
  }
  
  .HomepageAboutSkillsSuperWrapper{
    position: relative;
    /* background-color: red;
    background-color: blueviolet; */
  }
  .HomepageAboutSectionDescriptionSectionHeaderAndDescriptionWrapper{
    /* flex-shrink: none; */
    width: 100%;
    padding-top: 1px;
    /* height: fit-content;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgba(80, 80, 80, 0.103); */
  }
  :nth-child(2 of .HomepageAboutSectionDescriptionSectionNameHeader){
    font-size: 16px;
    width: 220px;
    /* background-color: aqua; */

  }

  .HomepageAboutSectionSocialMediaLinksSuperWrapper{
    /* position: relative; */
    top: 5px;
    /* width: 100%; */
    /* height: 100px; */
    /* margin: auto; */
    /* background-color: aquamarine; */
  }

  .HomepageAboutSectionSocialMediaLinksWrapper{
    /* display: flex; */
    width: 100%;
    /* height: 60px; */
    /* background-color: rgba(34, 34, 34, 0.712); */
    margin-left: 0px;
    /* border-radius: 5px; */
  }







  .HomepageAboutSectionSkillsNavButton{
  /* position: relative; */
  width: 70px;
  height: 70px;
  /* border: none;
  outline: none;
  padding: 0px;
  padding: 10px;
  border: 1px solid rgb(235, 120, 68);
  border-radius: 10px;
  margin: auto;
  font-family: "Rubik", sans-serif;
  background-color: rgba(0, 128, 0, 0);
  cursor: pointer; */
  /* align-items: end;
  align-content: start; */
  /* transition: background-color .3s ease; */
}

.HomepageAboutSectionSkillsNavButtonImage{
  /* position: relative; */
  /* width: 30px;
  top: 0px;
  fill: white !important; */
  /* background-color: #000000; */
}
.HomepageAboutSectionSkillsNavButtonTitle{
  display: none;
  /* margin-top: 5px; */
  font-size: 16px;
  /* font-weight: 500; */
  /* color: white; */
  /* background-color: red; */
}
.HomepageAboutSectionSkillsNavButtonSkillsNumberDescription{
  margin-top: 5px;
  /* margin-top: -10px; */
  font-size: 12px;
  /* color: rgb(167, 167, 167); */
}


}

@keyframes t{
  from {background-size:0 200%}
  
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}
