.ResumeHistorySmallSectionWrapper{
    font-family: "Inter", sans-serif;
    width:900px;
    height: fit-content;
    /* background-color: aqua; */
}
.ResumeHistorySmallSectionColumnNamesWrapper{
    display: flex;
    /* background-color: aquamarine; */
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;
}
.ResumeHistorySmallSectionColumnName{
    font-size: 14px;
    width: fit-content;
    padding: 10px;
    color: rgba(51, 51, 51, 0.945);
    /* font-family: "Inter", sans-serif; */
}
:nth-child(1 of .ResumeHistorySmallSectionColumnName){
    width: 250px;
}
:nth-child(2 of .ResumeHistorySmallSectionColumnName){
    width: 150px;
}
:nth-child(3 of .ResumeHistorySmallSectionColumnName){
    width: 150px;
}
:nth-child(4 of .ResumeHistorySmallSectionColumnName){
    width: 150px;
}

.ResumeHistorySmallSectionNoUploadsMessage{
    width: calc(100%-2px);
    /* background-color: aqua; */
    /* font */
    padding: 0px;
    padding: 4px;
    padding-left: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgba(26, 26, 26, 0.856);
    background-color: #87e5f18a;
}


.ResumeHistorySmallSectionRowWrapper{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-left: 1px solid rgba(0, 0, 0, 0.137);
    border-right: 1px solid rgba(0, 0, 0, 0.137);
}
.ResumeHistorySmallSectionRowFeature{
    font-size: 14px;
    color: rgba(51, 51, 51, 0.856);
    overflow-x: hidden;
    /* font-weight: bold; */
    padding: 10px;
}
.ResumeHistorySmallSectionRowFeatureOne
{
    width: 250px;
}
.ResumeHistorySmallSectionRowFeatureTwo{
    width: 150px;
}
.ResumeHistorySmallSectionRowFeatureThree{
    width: 150px;
}
.ResumeHistorySmallSectionRowFeatureFour{
    width: 150px;
}
.ResumeHistorySmallSectionRowOptionsButton{
    width: 30px;
    height: 30px;
    /* overflow-x: hidden; */
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-left: 40px;
    line-height: 0px;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    border-radius: 50%;
    font-weight: bold;
}
.ResumeHistorySmallSectionRowOptionsButton:hover{
    background-color: aliceblue;
}
.ResumeHistorySmallSectionRowOptionsDropdown{
    z-index: 100;
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    width: 200px;
    /* height: 100px; */
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212);
}
.ResumeHistorySmallSectionRowOptionsDropdownButton{
    display: flex;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.856);
    cursor: pointer;

}
.ResumeHistorySmallSectionRowOptionsDropdownButton:hover{
    background-color: aliceblue;
}
.ResumeHistorySmallSectionRowOptionsDropdownButtonIcon{
    width: 16px;
    opacity: 75%;
    margin-top: 1px;
    margin-right: 7px;
}
.ResumeHistorySmallSectionRowOptionsDropdownButtonText{
    position: relative;
    padding-top: 0px;
    padding: none;
    /* color: red; */
    top: -10px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.61);
    /* background-color: aqua; */
}

.ResumeHistorySmallSectionRowOptionsDropdownButtonViewAnalysisIcon{
    opacity: 100%;
}
.ResumeHistorySmallSectionRowOptionsDropdownButtonDelete:hover{
    background-color: rgba(255, 0, 0, 0.158);
}


@media(max-width: 1380px){
    .ResumeHistorySmallSectionWrapper{
        /* font-family: "Inter", sans-serif; */
        width: 700px;
        /* height: fit-content; */
        /* background-color: aqua; */
    }
    :nth-child(1 of .ResumeHistorySmallSectionColumnName){
    width: 195px;
    }
    :nth-child(2 of .ResumeHistorySmallSectionColumnName){
        width: 118px;
    }
    :nth-child(3 of .ResumeHistorySmallSectionColumnName){
        width: 118px;
    }
    :nth-child(4 of .ResumeHistorySmallSectionColumnName){
        width: 100px;
    }

    .ResumeHistorySmallSectionRowFeatureOne
    {
        width: 218px;
    }
    .ResumeHistorySmallSectionRowFeatureTwo{
        width: 130px;
    }
    .ResumeHistorySmallSectionRowFeatureThree{
        width: 130px;
    }
    .ResumeHistorySmallSectionRowFeatureFour{
        width: 150px;
    }
    .ResumeHistorySmallSectionRowOptionsButton{
        /* width: 30px;
        height: 30px; */
        /* overflow-x: hidden; */
        /* overflow: hidden;
        padding-bottom: 10px;
        padding-left: 5px; */
        margin-left: 0px;
        margin-right: 20px;
        /* line-height: 0px;
        font-size: 24px;
        background-color: red;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 3px;
        border-radius: 50%;
        font-weight: bold; */
    }

    .ResumeHistorySmallSectionRowOptionsDropdown{
        /* display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 5px; */
        margin-left: -33px;
        /* width: 200px; */
        /* height: 100px; */
        /* height: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212); */
    }


}


@media (max-width: 1060px){
    .ResumeHistorySmallSectionWrapper{
        /* font-family: "Inter", sans-serif; */
        width: 600px;
        /* height: fit-content; */
        /* background-color: aqua; */
    }
    :nth-child(1 of .ResumeHistorySmallSectionColumnName){
        width: 229px;
    }
    :nth-child(2 of .ResumeHistorySmallSectionColumnName){
        /* width: 118px; */
        display: none;
    }
    :nth-child(3 of .ResumeHistorySmallSectionColumnName){
        width: 120px;
    }
    :nth-child(4 of .ResumeHistorySmallSectionColumnName){
        width: 100px;
    }

    .ResumeHistorySmallSectionRowFeatureOne
    {
        width: 248px;
    }
    .ResumeHistorySmallSectionRowFeatureTwo{
        /* width: 130px; */
        display: none;
    }
    .ResumeHistorySmallSectionRowFeatureThree{
        width: 130px;
    }
    .ResumeHistorySmallSectionRowFeatureFour{
        width: 150px;
    }
    .ResumeHistorySmallSectionRowOptionsButton{
        /* width: 30px;
        height: 30px; */
        /* overflow-x: hidden; */
        /* overflow: hidden;
        padding-bottom: 10px;
        padding-left: 5px; */
        margin-left: 0px;
        margin-right: 20px;
        /* line-height: 0px;
        font-size: 24px;
        background-color: red;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 3px;
        border-radius: 50%;
        font-weight: bold; */
    }

    .ResumeHistorySmallSectionRowOptionsDropdown{
        /* display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 5px; */
        margin-left: -33px;
        /* width: 200px; */
        /* height: 100px; */
        /* height: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212); */
    }

}


@media (max-width: 960px){
    .ResumeHistorySmallSectionWrapper{
        /* font-family: "Inter", sans-serif; */
        width: 720px;
        /* height: fit-content; */
        /* background-color: aqua; */
    }
    :nth-child(1 of .ResumeHistorySmallSectionColumnName){
        width: 453px;
    }
    :nth-child(2 of .ResumeHistorySmallSectionColumnName){
        /* width: 118px; */
        display: none;
    }
    :nth-child(3 of .ResumeHistorySmallSectionColumnName){
        width: 120px;
    }
    :nth-child(4 of .ResumeHistorySmallSectionColumnName){
        /* width: 100px; */
        display: none;
    }

    .ResumeHistorySmallSectionRowFeatureOne
    {
        width: 453px;
    }
    .ResumeHistorySmallSectionRowFeatureTwo{
        /* width: 130px; */
        display: none;
    }
    .ResumeHistorySmallSectionRowFeatureThree{
        width: 150px;
    }
    .ResumeHistorySmallSectionRowFeatureFour{
        /* width: 150px; */
        display: none;
    }
    .ResumeHistorySmallSectionRowOptionsButton{
        /* width: 30px;
        height: 30px; */
        /* overflow-x: hidden; */
        /* overflow: hidden;
        padding-bottom: 10px;
        padding-left: 5px; */
        margin-left: 0px;
        margin-right: 20px;
        /* line-height: 0px;
        font-size: 24px;
        background-color: red;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 3px;
        border-radius: 50%;
        font-weight: bold; */
    }

    .ResumeHistorySmallSectionRowOptionsDropdown{
        /* display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 5px; */
        margin-left: -60px;
        /* width: 200px; */
        /* height: 100px; */
        /* height: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212); */
    }

}


@media (max-width: 760px){
    .ResumeHistorySmallSectionWrapper{
        /* font-family: "Inter", sans-serif; */
        width: calc(100% - 0px);
        /* height: fit-content; */
        /* background-color: aqua; */
    }
    :nth-child(1 of .ResumeHistorySmallSectionColumnName){
        width: 60%;
        /* background-color: bisque; */
    }
    :nth-child(2 of .ResumeHistorySmallSectionColumnName){
        /* width: 118px; */
        display: none;
    }
    :nth-child(3 of .ResumeHistorySmallSectionColumnName){
        width: 210px;
        /* background-color: beige; */
        /* width: 36%; */
    }
    :nth-child(4 of .ResumeHistorySmallSectionColumnName){
        /* width: 100px; */
        display: none;
    }

    .ResumeHistorySmallSectionRowFeatureOne
    {
        /* width: 401px; */
        width: 60%;
        /* background-color: rgb(103, 117, 117); */
    }
    .ResumeHistorySmallSectionRowFeatureTwo{
        /* width: 130px; */
        display: none;
    }
    .ResumeHistorySmallSectionRowFeatureThree{
        width: 150px;
        /* background-color: red; */
        /* width: 25%; */
    }
    .ResumeHistorySmallSectionRowFeatureFour{
        /* width: 150px; */
        display: none;
    }
    .ResumeHistorySmallSectionRowOptionsButton{
        /* width: 30px;
        height: 30px; */
        /* overflow-x: hidden; */
        /* overflow: hidden;
        padding-bottom: 10px;
        padding-left: 5px; */
        margin-left: 25px;
        margin-right: 20px;
        /* line-height: 0px;
        font-size: 24px;
        background-color: red;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 3px;
        border-radius: 50%;
        font-weight: bold; */
        /* background-color: blue; */
        padding-bottom: 13px;
        /* background-color: aliceblue; */
    }

    .ResumeHistorySmallSectionRowOptionsDropdown{
        /* display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 5px; */
        margin-left: -63px;
        /* width: 200px; */
        /* height: 100px; */
        /* height: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212); */
    }

}


@media (max-width: 575px){
    /* :nth-child(1 of .ResumeHistorySmallSectionColumnName){
        width: 300px;
    } */
    /* .ResumeHistorySmallSectionRowFeatureOne
    {
        width: 302px;
    } */
    /* :nth-child(3 of .ResumeHistorySmallSectionColumnName){
        width: 218px;
        background-color: beige;
        
    } */
     .ResumeHistorySmallSectionRowFeatureOne
    {
        /* width: 401px; */
        width: 90%;
        /* background-color: rgb(103, 117, 117); */
    }
    :nth-child(3 of .ResumeHistorySmallSectionColumnName){
        display: none;
        /* width: 210px; */
        /* background-color: beige; */
        /* width: 36%; */
    }
    .ResumeHistorySmallSectionRowFeatureThree{
        display: none;
        width: 150px;
        /* background-color: red; */
        /* width: 25%; */
    }
    .ResumeHistorySmallSectionRowOptionsButton{
        padding-bottom: 13px;
        /* margin: auto; */
        margin-left: 0px;
        /* margin-left: 40px; */
        /* right: 110px; */
        /* background-color: aliceblue; */
    }
    .ResumeHistorySmallSectionRowOptionsDropdown{
        /* display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 5px; */
        margin-left: -73px;
        /* width: 200px; */
        /* height: 100px; */
        /* height: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212); */
    }
}