.ResumeAnalyzerDashboardMainSection{
    width: 1310px;
    height: fit-content;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* overflow: visible; */
    /* background-color: rgba(204, 27, 27, 0.096); */
}
.ResumeAnalyzerDashboardMainSectionTitle{
    margin-top: 50px;
    font-size: 18px;
    padding: none;
    margin: none;
    color: rgb(80, 80, 80);
    font-family: "Inter", sans-serif;
    /* background-color: rgba(255, 0, 0, 0.185); */

}
.ResumeAnalyzerDashboardMainSectionAddJobButton{
    /* float: right; */
    display: flex;
    position: relative;
    width: 120px;
    height: 35px;
    top: 5px;
    border: 2px solid rgba(8, 160, 206, 0.781);
    border-radius: 4px;
    margin-left: 780px;
    margin-top: -35px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(8, 160, 206, 0);
    color: rgba(8, 160, 206, 0.781);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.ResumeAnalyzerDashboardMainSectionAddJobButton:hover{
    background-color: rgba(8, 193, 206, 0.158);
}

.ResumeAnalyzerDashboardMainSectionAddJobButtonIcon{
    position: relative;
    width: 22px;
    left: 5px;
}
.ResumeAnalyzerDashboardMainSectionAddJobButtonTitle{
    position: relative;
    top: -9px;
    left: 10px;
    /* color: red; */
}
