.ResumeAnalyzerDashboardHeaderButton{
  /* z-index: 10; */
  border: none;
  margin-right: 12px;
  /* margin-top: 15px; */
  padding: 16px;
  font-size: 14px;
  /* border-bottom: 2px solid rgb(31, 31, 31); */
  border-radius: 0px;
  letter-spacing: .1px;
  background-color: transparent;
  /* background-color: rgb(21, 204, 21); */
  color: rgb(51, 51, 51);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  outline: none;

}
.ResumeAnalyzerDashboardHeaderButton:hover{
  /* background-color: rgba(179, 179, 179, 0.3); */
  /* color: rgb(128, 193, 247); */
  color: rgb(19, 145, 184);
  border-bottom: 2px solid rgb(19, 145, 184);
}
.ResumeAnalyzerDashboardHeaderButtonDropdown{
  z-index: 2;
  display: none;
  position: absolute;
  width: 250px;
  border-radius: 5px;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /* background-color: rgb(31, 31, 31); */
}
.ResumeAnalyzerDashboardHeaderButtonDropdownButtonWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 5px;
  /* background-color: aqua; */
  background-color: rgb(255, 255, 255);
}
.ResumeAnalyzerDashboardHeaderButtonDropdownButton{
  display: flex;
  border: none;
  width: auto;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  letter-spacing: .7px;
  text-align: left;
  background-color: transparent;
  color: rgb(51, 51, 51);
  
}
.ResumeAnalyzerDashboardHeaderButtonDropdownButton:hover{
  background-color: rgba(118, 199, 195, 0.164);
}
.HeaderButtonDropdownButtonColorPad{
  width: 3px;
  height: 30px;
  margin-top: 15px;
  margin-left: 4px;
  background-color: rgb(126, 184, 231);
}
.ResumeAnalyzerDashboardHeaderButtonDropdownButtonTopText{
  margin-top: 14px;
  margin-left: 8px;
  font-weight: normal;
}
.ResumeAnalyzerDashboardHeaderButtonDropdownButtonBottomText{
  position: absolute;
  margin: 0px;
  margin-top: 35px;
  margin-left: 16px;
  font-size: 11px;
  color: rgb(121, 121, 121);
}