.ResumeHistorySmallSectionWrapper{
    font-family: "Inter", sans-serif;
    width:900px;
    height: fit-content;
    /* border: 2px dashed ; */
    /* border-radius: 8px; */
    /* background-color: rgba(78, 211, 211, 0.219);
    border: 2px dashed rgba(8, 160, 206, 0.781); */
}
.ResumeHistorySmallSectionColumnNamesWrapper{
    display: flex;
    /* background-color: aquamarine; */
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;
}
.ResumeHistorySmallSectionColumnName{
    font-size: 14px;
    width: fit-content;
    padding: 10px;
    color: rgba(51, 51, 51, 0.945);
    /* font-family: "Inter", sans-serif; */
}
:nth-child(1 of .ResumeHistorySmallSectionColumnName){
    width: 250px;
}
:nth-child(2 of .ResumeHistorySmallSectionColumnName){
    width: 150px;
}
:nth-child(3 of .ResumeHistorySmallSectionColumnName){
    width: 150px;
}
:nth-child(4 of .ResumeHistorySmallSectionColumnName){
    width: 150px;
}
.ResumeHistorySmallSectionRowWrapper{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-left: 1px solid rgba(0, 0, 0, 0.137);
    border-right: 1px solid rgba(0, 0, 0, 0.137);
}
.ResumeHistorySmallSectionRowFeature{
    font-size: 14px;
    color: rgba(51, 51, 51, 0.856);
    overflow-x: hidden;
    /* font-weight: bold; */
    padding: 10px;
}
.ResumeHistorySmallSectionRowFeatureOne
{
    width: 250px;
}
.ResumeHistorySmallSectionRowFeatureTwo{
    width: 150px;
}
.ResumeHistorySmallSectionRowFeatureThree{
    width: 150px;
}
.ResumeHistorySmallSectionRowFeatureFour{
    width: 150px;
}
.ResumeHistorySmallSectionRowOptionsButton{
    width: 30px;
    height: 30px;
    /* overflow-x: hidden; */
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-left: 40px;
    line-height: 0px;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    border-radius: 50%;
    font-weight: bold;
}
.ResumeHistorySmallSectionRowOptionsButton:hover{
    background-color: aliceblue;
}
.ResumeHistorySmallSectionRowOptionsDropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    width: 200px;
    /* height: 100px; */
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212);
}
.ResumeHistorySmallSectionRowOptionsDropdownButton{
    display: flex;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.856)

}
.ResumeHistorySmallSectionRowOptionsDropdownButton:hover{
    background-color: aliceblue;
}
.ResumeHistorySmallSectionRowOptionsDropdownButtonIcon{
    width: 16px;
    opacity: 75%;
    margin-top: 1px;
    margin-right: 7px;
}
.ResumeHistorySmallSectionRowOptionsDropdownButtonText{
    position: relative;
    padding-top: 0px;
    padding: none;
    /* color: red; */
    top: -10px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.61);
    /* background-color: aqua; */
}

.ResumeHistorySmallSectionRowOptionsDropdownButtonViewAnalysisIcon{
    opacity: 100%;
}
.ResumeHistorySmallSectionRowOptionsDropdownButtonDelete:hover{
    background-color: rgba(255, 0, 0, 0.158);
}
