.ResetPasswordPageWrapper{
    position: relative;
    width: 260px;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    margin-top: 15vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
    
}
.ResetPaswordHeaderText{
    font-size: 24px;
    text-align: center;
    color: rgb(51, 51, 51);
}
.ForgotPasswordEmailInput{
    display: block;
    position: relative;
    left: -26px;
    top: 0px;
    width: 200px;
    height: 30px;
    /* padding: 5px; */
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: none;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #272727;
    /* background-color: rgb(202, 215, 219); */
    letter-spacing: 1px;
    transition: border-color 0.2s ease;
}


.ForgotPasswordEmailInput:focus{
    border-color: rgb(0, 204, 255)
}

.ForgotPassworSendResetLinkButton{

    /* float: right; */
    position: relative;
    width: fit-content;
    height: fit-content;
    /* top: -220px; */
    /* left: -150px; */
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 14px;
    background-color: rgba(8, 160, 206, 0.781);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.ForgotPassworSendResetLinkButton:hover{
    background-color: rgba(8, 160, 206, 0.637);
}
.ForgotPassworSendResetLinkButton:disabled{
    background-color: rgba(8, 160, 206, 0.637);
    color: white;
    border: none;
    cursor: not-allowed;
}
